@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500i,600,700,800&display=swap&subset=latin-ext');
body {
    background-image: linear-gradient(rgb(22, 31, 48), rgb(24, 31, 44) 34%, rgb(23, 28, 38)) !important;
    color: white !important;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #363636;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 126, 126);
}

.committees {
    background-image: linear-gradient(to top, rgb(29, 35, 48), rgb(31, 43, 65));
}

.committees .nav-item {
    padding: 0 15px;
}

body * {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: rgba(255, 255, 255, 0.541);
}

.ieee-logo {
    max-width: 250px;
    margin: 10px;
}

.member-img {
    height: 200px;
    background-color: blueviolet;
    width: 100%;
    max-width: 100%;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: 1.5%;
    position: relative;
}

.member-item .row {
    position: relative;
    max-width: 100%;
}

.member-img::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 80px;
    border-color: transparent transparent #1e283b transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.member-item {
    background-color: #1e283b;
}

.member-info h2 {
    font-size: 28px;
    color: #faa41a;
    transition: .2s all ease-in-out;
}

.member-info h2:hover {
    font-size: 28px;
    color: #915d0b;
}

.member-commitees {
    text-decoration: none;
    list-style: none;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.726);
    font-size: 14px;
}

.member-all-commitees {
    margin: 15px 0;
}

.member-mail {
    text-decoration: none;
    color: white;
}

.member-content {
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 0 20px 0 10px;
    font-size: 14px;
    color: #bfbfbf;
}

.member-info {
    margin-top: 20px;
    max-height: 160px;
    overflow-y: auto;
    height: 160px;
}

.single-social-icon .fab {
    color: rgb(122, 135, 158);
    font-size: 24px;
    cursor: pointer;
}

.single-social-icon {
    display: inline-block;
    padding: 6px;
    margin-right: 5px;
    background: #171d28;
}

.social-icons {
    margin-top: 10px;
}

.member-department {
    color: #faa41a88 !important;
    font-size: 13px;
}

.member-department strong {
    color: #faa41a88 !important;
    font-size: 13px;
}

i.fab {
    transition: .4s all ease;
}

i.fab:hover {
    color: #faa41a;
}

a.nav-link.Ripple-parent.active:focus {
    outline: none;
}

.gap-50 {
    height: 50px;
}

.img {
    max-width: 100%;
}


/* #single-member * {
  color: #bfbfbf;
} */

.single-member-content {
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #bfbfbf;
    margin-bottom: 20px;
}

.single-member-name {
    color: #faa41a !important;
    margin-top: 20px;
}

.member-mail {
    font-size: 12px;
    margin-top: 10px;
    color: #faa41a !important;
}

div#navbarCollapse3 a {
    color: white;
    margin-right: 10px;
}

.qr-code canvas {
    margin: 20px auto;
}

.download-qr {
    border: 1px solid white;
    padding: 5px 15px;
    margin: 30px auto;
    font-size: 13px;
    border-radius: 4px;
    transition: .2s ease all;
}

.download-qr:hover {
    background: white !important;
    color: #171c27 !important;
    border-color: white !important;
}

.member-item .col-md-5.show-on-mobile {
    margin-top: 20px;
    max-height: 160px;
    overflow-y: auto;
    height: 160px;
}

@media (max-width: 768px) {
    .committees {
        display: none;
    }
    .komite-list {
        padding: 0 15px;
    }
    .komite-list a {
        display: block;
        text-align: center;
        color: #faa41a;
        margin: 5px 0;
        padding: 18px 15px;
        border: 1px solid;
        max-width: 500px;
        margin: 5px auto;
        display: block;
    }
    .mobile-menu h2 {
        text-align: center;
        margin: 20px auto;
        font-size: 34px;
    }
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}